<div class="songofthesea">
<div class="background">

<h1 class="title">SONG OF THE SEA</h1>

	<div class="row playerwindow">
		<iframe width="1120" height="630" src="https://www.youtube.com/embed/HgbXWt8kM5Q" frameborder="0" allowfullscreen></iframe>
	</div>
	<p class="row row--padding-medium container-wide row--lightgrey trailer__desc">Song of the Sea (Irish: Amhrán na Mara) is a 2014 animated fantasy drama film directed and co-produced by Tomm Moore, co-produced by Ross Murray, Paul Young, Stephen Roelants, Serge and Marc Ume, Isabelle Truc, Clement Calvet, Jeremie Fajner, Frederik Villumsen, and Claus Toksvig Kjaer, and written by Will Collins from Moore's story. It was an international co-production from Ireland, Belgium, Denmark, France, and Luxembourg, and is the second feature film by Cartoon Saloon.
	Song of the Sea follows the story of a 10-year-old Irish boy named Ben (David Rawle) who discovers that his mute sister Saoirse, whom he blames for the apparent death of his mother, is a selkie who has to free faerie creatures from the Celtic goddess Macha.
	Like other Saloon films, the film was hand-drawn. The film began production soon after the release of The Secret of Kells (2009), premiered at the 2014 Toronto International Film Festival on 6 September in the "TIFF Kids" programme. The film had a limited release in certain countries, but received overwhelming acclaim and was nominated for the Academy Award for Best Animated Feature at the 87th Academy Awards in 2015.</p>
	

</div>
</div>