/*navigation*/

.nav__menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(51, 51, 51);
}

.nav__menu li {
	float: left;
}

.nav__menu li a {
    display: inline-block;
    color: 	rgb(255, 255, 255);
    text-align: center;
    padding: 0.75em;
    text-decoration: none;
    transition: 0.3s;
}

.nav__menu a:hover {
	background-color: rgb(179,18,23);
}

.icon {
	display: none;
}

@media(max-width: 768px){
	.nav__menu li:not(:first-child) {
		display: none;
	}

	.nav__menu li.icon {
		float: right;
		display: inline-block;
	}

	.nav__menu.responsive {
		position: relative;
	}

	.nav__menu.responsive li.icon {
	position: absolute;
	right: 0;
	top: 0;
	}

	.nav__menu.responsive li {
	float: none;
	display: inline;
	}

	.nav__menu.responsive a {
	display: block;
	text-align: left;
	}

}
/*theater*/

.playerwindow {
	width: 100%;
	text-align: center;
	position: relative;
	overflow: hidden;
    padding-bottom: 50.4%;
    padding-top: 50px;
    height: 0;

}

.playerwindow iframe {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
    max-width: 100%;
    max-height: 100%;
}

@media (min-width: 1060px){
	.playerwindow{
		padding-bottom: 585px;
	}
}

/*partials*/

.title {
	text-align: center;
	margin: 0; 
	padding: 1em;
	font-size: 4em;
}

@media(max-width: 768px){
	.title{
	font-size: 2em;
	}
}

.background{
	height: 100%;
	width: 100%;
	background-color: rgba(255,255,255,0.7);
}

.spiritedaway{
	background-image: url(../img/spiritedaway.png);
	background-size: cover;
}

.songofthesea{
	background-image: url(../img/songofthesea.jpg);
	background-size: cover;
}

.moana{
	background-image: url(../img/moana.jpg);
	background-size: cover;
}

.interstellar{
	background-image: url(../img/interstellar.jpg);
	background-size: cover;
}

.threehundred{
	background-image: url(../img/300.jpg);
	background-size: cover;	
}

.trailer__desc {
	opacity: 0.8;
	line-height: 1.5em;
}

#youtube {
	display: block;
	width: 50vw;
	margin: 0 auto;
	padding-top: 3em;
}

#name{
	text-align: center;
}

.error{
	color: rgb(179,18,23);
	font-size: 8em;
	margin-top: 1em;
	text-align: center;
}

.error__sub{
	text-align: center;
}

